/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* restore style for list and text formatting(<strong>,<em> ect  */


ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1rem;
}

  ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1rem;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ol, ul ol {
  list-style-type: lower-latin;
}

strong, b {
    font-weight: bold;
}

em, i {
font-style: italic;
}


  /* custom style  */

	html{
		font-size: 100%;
	}

	body{
		font-size: 100%;
		margin: 0 auto;
		padding: 0 2rem 2rem 2rem;
		max-width: 1000px;
	}

img{
	width: 100%;
}
	/* header/ nav*/

header{
		display: grid;
		grid-template-areas: "her her" "log mnav";
		grid-template-columns:1fr 1fr;
		grid-template-rows: auto auto;
		grid-gap: 0;
	}

	.logo{
		max-width: 50px;
		grid-area: log;	
		margin: 0;
		padding: 0;
	}
	.hero{
		grid-area: her;
		width: 100%;
	} 

 /* nav  */
.nav--main-nav{
		grid-area: mnav;
	} 

.nav__link{
		border: black 1px solid;
		grid-area: navl;
	}
	.na__list{
		display: grid;
		grid-template-areas: "navl" "navl" "navl" "navl" "navl";
		grid-template-columns:1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: auto;
		list-style: none;
		padding-right: 0;
		margin-right: 0; 
	}
	.nav__link{
		border: black 1px solid;
		grid-area: navl;
	}
	/* style links */
	a {
		color: #960;
	}
	a:visited{
		color: #909;
	}
	a:hover{
		color: #099;
	}
	a:focus{
		color: #999;
	}
	a:active{
		color: #f66;
	}
	/* home__section__welcome */
	.home__section__welcome{
		background-color: yellow;
		display: grid;
		grid-template-areas: "art image";
		grid-template-columns: 2fr 1fr;
		grid-template-rows: auto;
		padding: 2rem;

	}
	.home__section__welcome_article{
		grid-area: art;
	}
.home__section__welcome_img{
	grid-area: image;
	padding-left: 1rem
}
	/* home__section__info */
	.home__section__info{
		background-color: green;
		display: grid;
		grid-template-areas: "imag info" "imag mar";
		grid-template-columns: 1fr 2fr;
		grid-template-rows: auto auto;
		padding: 2rem;

	}
	.home__section__info_img{
		grid-area: imag;
	
	}
	.home__section__info_article{
		grid-area: info;
		padding-left: 1rem	
	}
	.home__section__info_marquee{
		grid-area: mar;
		width: 150px;
		padding: 1rem 0 0 1rem
		
	}
	
	/* home__section__info_marquee */
	.home__section__info_marquee{
		display: grid;
		grid-template-areas: "btnp im btnn";
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto;
	}
	.btnpre{
		grid-area: btnp;
	}
	.btnnext{
		grid-area: btnn;
	}
	.home__section__info_marquee__img{
		grid-area: im;
	}
	/* home__section__image */
	.home__section__image{
		background-color: #909;
	
	}

/* home__section__staff */
.home__section__staff{
	background-color: #099;
	display: grid;
	grid-template-areas: "staff info";
	grid-template-columns: 2fr 1fr;
	grid-template-rows: auto;
}
.home__section__staff__img{
	grid-area: staff;
}
.home__section__staff__info{
	grid-area: info;
	padding: .5rem;
}

/* aside */
aside{
	background-color: #960;
	padding: 1rem;
}

.home__aside__section__about{
	padding: .5rem 0 1rem 0;
	margin-top: 1rem;
	background-color: blueviolet;
}
.home__aside__section__hours{
	padding: 0 .5rem .5rem .5rem; 
}
.home__aside__section__resource{
	padding: 0 .5rem 0 .5rem;
}
.home__aside__section__contact{
	background-color: #f66;
	padding: .5rem .5rem 1rem .5rem;
	margin-top: 1rem;
}

/* footer */
footer{
	background-color: aquamarine;
	padding: 1rem;
}

@media screen and (min-width: 780px){
	body{
		display: grid;
		grid-template-areas: "hea hea" "main aside" "footer footer";
		grid-template-columns: 3fr 1fr;
		grid-template-rows: auto auto auto;
		grid-gap: 1rem;
	}
	main{
		grid-area: main;
	}
	header{
		grid-area: hea;
	}
	footer{
		grid-area: footer;
	}
	aside{
		grid-area: aside;
	}
}