/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* restore style for list and text formatting(<strong>,<em> ect  */


ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 1rem;
}

  ol {
  list-style-type: decimal;
  list-style-position: outside;
  padding-left: 1rem;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol ol, ul ol {
  list-style-type: lower-latin;
}

strong, b {
    font-weight: bold;
}

em, i {
font-style: italic;
}

	/* Styling for Mobile */

		html{
			font-size: 100%;
			background-color: #151e3f;
		}

		body{
			font-size: 100%;
			padding: 0 0 5%;
			background-color: #f2f3d9;
			
			
		}

		img{

			width: 100%;

		}

	/* header */

		.masthead{
				
			display: flex;
			flex-flow: column;

		}

		.masthead__flex-container{

			display: flex;
			flex-flow: row nowrap;
			padding: 3%;

		}

		.logo{
			width: 100%;
			max-width: 150px;
			margin: 0;
			padding: 0;
			flex: 1;
		}

		.hero{
		
			width: 100%;
		
		} 

	/* nav */

		.nav--main-nav{

			background-color: #030027;
			padding: 1%;
			flex: 1;
			display: flex;
			flex-flow: column;
			margin: 2% 5%;
		} 

		.nav__button{

			width: 100%;
			padding: 0;
			font-size: 1.75rem;

		}

		.nav__link{

			display: block;
			background-color: #151e3f;
			padding: 2%;
			border-radius: 5px 5px 5px;
			filter: drop-shadow(4px 4px #030027);
			font-family: Arial, Helvetica, sans-serif;
			color: #f2f3d9;
			text-decoration: none;
			margin: 4% 0;
			text-align: center;

		}
		.na__list{

			list-style: none;
			padding: 2%;
			margin-right: 0; 
		}

		.visible{

			display: block;

		}

		.invisible{

			display: none;

		}

	/* Main */

		.home{

			padding: 5%;

		}

	/* style links */

		a:not(.nav__link) {
			color: #960;
		}
		a:visited:not(.nav__link){
			color: #909;
		}
		a:hover:not(.nav__link){
			color: #099;
		}
		a:focus:not(.nav__link){
			color: #999;
		}
		a:active:not(.nav__link){
				color: #f66;
		}

	/* home__section__welcome */

		.home__section__welcome{

			background-color: white;
			display: grid;
			grid-template-areas: "art image";
			grid-template-columns: 2fr 1fr;
			grid-template-rows: auto;
			padding: 2rem;
			margin-bottom: 1rem;
			border: 2px solid #030027;
			border-radius: 5px;

		}
		.home__section__welcome_article{
			grid-area: art;
		}
		.home__section__welcome_img{
			grid-area: image;
			padding-left: 1rem
		}
	
	/* home__section__info */

		.home__section__info{
			background-color: white;
			display: grid;
			grid-template-areas: "titl titl" "imag info" "mar mar";
			grid-template-columns: 1fr 2fr;
			grid-template-rows: auto auto;
			padding: 2rem;
			margin-bottom: 1rem;
			border: 2px solid #030027;
			border-radius: 5px;
		}
		.home__section__info_title{
			grid-area: titl;
			font-size: 2rem;
		}
		.home__section__info_img{
			grid-area: imag;
			padding-left: 0;
			margin-left: 0;
		}
		.home__section__info_article{
			grid-area: info;
			padding-left: 1rem;
			padding-top: 5%;
		}
		.home__section__info_marquee{
			grid-area: mar;
			width: 150px;
			padding: 1rem 0 0 0
		}
		
	/* home__section__info_marquee */

		.home__section__info_marquee{
			display: grid;
			grid-template-areas: "btnp im im1 im2 btnn";
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			grid-template-rows: auto;
			margin-bottom: 1rem;
			
		}
		.btnpre{
			grid-area: btnp;
		}
		.btnnext{
			grid-area: btnn;
		}
		.home__section__info_marquee__img{
			grid-area: im;
			width: 3rem;
		}
		.home__section__info_marquee__program__link{
			transition: transform 1s ease .2s;
		}
		.home__section__info_marquee__program__link:hover{
			transform: scale(2.5);
		}
		.home__section__info_marquee__img1{
			grid-area: im1;
			width: 3rem;
		}
		.home__section__info_marquee__img2{
			grid-area: im2;
			width: 3rem;
		}

	/* home__section__image */

		.home__section__image{
			background-color: white;
			margin-bottom: 1rem;
			border: 2px solid #030027;
			border-radius: 5px;
		}

	/* home__section__staff */

		.home__section__staff{
			background-color: white;
			display: flex;
			flex-flow: column;
			margin-bottom: 1rem;
			border: 2px solid #030027;
			border-radius: 5px;
		}
		.home__section__staff__info{
			padding: .5rem;
			padding: 1rem 2rem;
		}
		.home__section__staff__info__info{
			padding-bottom: 0;
		}
		.home__section__staff__info__title{
			font-size: 1.5rem;
			padding-bottom: 1.12rem;
		}
		.home__section__staff__info__info__2{
			padding-top: 1.5rem;
			padding-bottom: 0;
		}

	/* home__section__missonstatement */

		.home__section__missonstatement{
			background-color: white;
			padding: 2rem;
			border: 2px solid #030027;
			border-radius: 5px;
			
		}
		.home__section__missonstatement__title{
			font-size: 2rem;
			padding-bottom: 1rem;
		}

	/* aside */
		aside{
			background-color: white;
			padding: 2rem;
			border: 2px solid #030027;
			border-radius: 5px;
			margin: 5%;
		}

		.widget{

			padding: 0 0.5rem 0 0.5rem;

		}

		.home__aside__section__about{
			padding: .5rem 0 .5rem 0;
			margin-top: 1rem;
			background-color: white;
		}
		.home__aside__section__hours{
			padding: 0 .5rem .5rem .5rem; 
		}
		.home__aside__section__resource{
			padding: 0 .5rem 0 .5rem;
		}
		.home__aside__section__contact{
			background-color: white;
			padding: .5rem .5rem 1rem .5rem;
			margin-top: 1rem;
		}

	/* footer */

		footer{
			background-color: white;
			padding: 1rem;
			margin-top: 5%;
		}

	/* text */

		p{
			line-height: 1.25;
			padding-bottom: .75rem;
			font-family: Arial, Helvetica, sans-serif;
		}

		h2{
			font-size: 1.5rem;
			padding-bottom: 1rem;
			color:#BF311A;
			font-family: 'Alegreya Sans SC', sans-serif;
			text-align:center;
		}
		h3{
			font-size: 2rem;
			padding-bottom: 1rem;
			color:#151e3f;
			font-family: 'Nunito Sans', sans-serif;
		}
		h4{
			font-size: 1.25rem;
			padding-bottom: 0.5rem;
			font-family: 'Libre Baskerville', serif;
		}

		label{

			font-size: 1.5rem;
			padding-bottom: 1rem;

		}

	/* Buttons */

		button{
			background-color: #151e3f;
			border-radius: 5px 5px 5px;
			filter: drop-shadow(4px 4px #030027);
			font-family: Arial, Helvetica, sans-serif;
			color: #f2f3d9;
		}

/* Media queries */

	@media screen and (min-width: 480px){

		.nav__button{

			width: 100%;
			padding: 0;
			font-size: 1.75rem;

		}

	}

	@media screen and (min-width: 650px){

		.nav__button{

			width: 100%;
			padding: 0;
			font-size: 1.75rem;

		}

	}

	@media screen and (min-width:768px){

		/* custom style */

			html{
				font-size: 100%;
				margin: 0 5%;
							/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#151e3f+0,030027+24,f2f3d9+51,dc9e82+81,c16e70+100 */
				background: #151e3f; /* Old browsers */
				background: -moz-linear-gradient(top,  #151e3f 0%, #030027 24%, #f2f3d9 51%, #dc9e82 81%, #c16e70 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #151e3f 0%,#030027 24%,#f2f3d9 51%,#dc9e82 81%,#c16e70 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #151e3f 0%,#030027 24%,#f2f3d9 51%,#dc9e82 81%,#c16e70 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#151e3f', endColorstr='#c16e70',GradientType=0 ); /* IE6-9 */


			}

			body{
				font-size: 100%;
				padding: 0;
				margin: 0 auto;
				/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2f3d9+0,f2f3d9+71,ffffff+100 */
				background: #f2f3d9; /* Old browsers */
				background: -moz-linear-gradient(top,  #f2f3d9 0%, #f2f3d9 71%, #ffffff 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top,  #f2f3d9 0%,#f2f3d9 71%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom,  #f2f3d9 0%,#f2f3d9 71%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f3d9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


			}

			img{
				width: 100%;
			}

		/* header */

			.masthead{
				
				display: flex;
				flex-flow: column;

			}

			.masthead__flex-container{

				display: flex;
				flex-flow: column;
				padding: 0;

			}

			.logo{
				width: 100%;
				max-width: 200px;
				margin: 0;
				padding: 0;
				padding-left: 1%;
				flex: 1;
			}
			.hero{
				width: 100%;
			} 

		/* nav */
			.nav--main-nav{

				background-color: #f2f3d9;
				padding: 0;
				padding-right: 1%;
				margin: 0;
			} 

			.nav__button{

				display: none;
				flex: 0;
				margin: 0;

			}

			.nav__link{

				display: block;
				margin: 0;
				padding: 4%;
				font-size: 100%;
				width: 100%;
				font-family: 'Alegreya', serif;
			}

			.nav__link:hover{

				background-color: #030027;
				color:#C16E70;
				filter: drop-shadow(4px 4px #151e3f);

			}

			.na__list{

				list-style: none;
				margin: 0;
				display: flex;
				flex-flow: row nowrap;

			}

			.na__list li{

				flex: 1;
				margin-right: 4%;

			}

			.na__list li:last-child{

				margin-right: 0;

			}

			.visible{

				display: block;

			}

			.invisible{

				display: none;

			}

		/* Main */

			.home{

				padding: 0%;
				margin: 0 3%;

			}

		/* style links */

			a:not(.nav__link) {
				color: #960;
			}
			a:visited:not(.nav__link){
				color: #909;
			}
			a:hover:not(.nav__link){
				color: #099;
			}
			a:focus:not(.nav__link){
				color: #999;
			}
			a:active:not(.nav__link){
				color: #f66;
			}

		/* home__section__welcome */

			.home__section__welcome{

				background-color: white;
				display: grid;
				grid-template-areas: "art image";
				grid-template-columns: 2fr 1fr;
				grid-template-rows: auto;
				padding: 1rem;
				margin-bottom: 1rem;
				border: 2px solid #030027;
				border-radius: 5px;

			}
			.home__section__welcome_article{
				grid-area: art;
				
			}
			.home__section__welcome_img{
				grid-area: image;
				padding-left: 1rem;
			}
		/* home__section__info */
			.home__section__info{
				background-color: white;
				display: grid;
				grid-template-areas: "titl titl" "imag info" "imag mar";
				grid-template-columns: 1fr 2fr;
				grid-template-rows: auto auto;
				padding: 1rem;
				margin-bottom: 1rem;
				border: 2px solid #030027;
				border-radius: 5px;
			}
			.home__section__info_title{
				grid-area: titl;
				font-size: 2rem;
			}
			.home__section__info_img{
				grid-area: imag;
				padding-left: 0;
				margin-left: 0;
			}
			.home__section__info_article{
				grid-area: info;
				padding-left: 1rem	
			}
			.home__section__info_marquee{
				grid-area: mar;
				width: 100%;
			}

		/* home__section__info_marquee */
			.home__section__info_marquee{
				display: grid;
				grid-template-areas: "btnp im im1 im2 btnn";
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-template-rows: auto;
				margin-bottom: 1rem;
				
			}
			.btnpre{
				grid-area: btnp;
				font-family: 'Alegreya', serif;
			}
			.btnnext{
				grid-area: btnn;
				font-family: 'Alegreya', serif;
			}
			.home__section__info_marquee__img{
				grid-area: im;
				width: 3rem;
			}
			.home__section__info_marquee__program__link{
				transition: transform 1s ease .2s;
			}
			.home__section__info_marquee__program__link:hover{
				transform: scale(2.5);
			}
			.home__section__info_marquee__img1{
				grid-area: im1;
				width: 3rem;
			}
			.home__section__info_marquee__img2{
				grid-area: im2;
				width: 3rem;
			}
		/* home__section__image */
			.home__section__image{
				background-color: white;
				margin-bottom: 1rem;
				border: 2px solid #030027;
				border-radius: 5px;
			}

		/* home__section__staff */
			.home__section__staff{
				background-color: white;
				display: grid;
				grid-template-areas: "staff info";
				grid-template-columns: 2fr 1fr;
				grid-template-rows: auto;
				margin-bottom: 1rem;
				padding: 1rem;
				border: 2px solid #030027;
				border-radius: 5px;
			}
			.home__section__staff__img{
				grid-area: staff;
			}
			.home__section__staff__info{
				grid-area: info;
			}
			.home__section__staff__info__info{
				padding-bottom: 0;
			}
			.home__section__staff__info__title{
				font-size: 1.5rem;
				padding-bottom: 1.12rem;
			}
			.home__section__staff__info__info__2{
				padding-top: 1.5rem;
				padding-bottom: 0;
			}
		/* home__section__missonstatement */
			.home__section__missonstatement{
			background-color: white;
			padding: 1rem;
			border: 2px solid #030027;
			border-radius: 5px;

			}
			.home__section__missonstatement__title{
			font-size: 2rem;
			padding-bottom: 1rem;
			}

		/* aside */
			aside{
			background-color: white;
			padding: 1rem;
			border: 2px solid #030027;
			border-radius: 5px;
			margin: 0 5%;
			margin-left: 0;
			}

			.widget{

				margin: 1%;
	
			}

			.home__aside__section__about{
			padding: .5rem 0 1rem 0;
			margin-top: 1rem;
			background-color: white;
			}
			.home__aside__section__hours{
			padding: 0 .5rem .5rem .5rem; 
			}
			.home__aside__section__resource{
			padding: 0 .5rem 0 .5rem;
			}
			.home__aside__section__contact{
			background-color: white;
			padding: .5rem .5rem 1rem .5rem;
			margin-top: 1rem;
			}

		/* footer */
			footer{
			background-color: #151e3f;
			color:#f2f3d9;
			padding: 1rem;
			}

		/* text */
			p{
			line-height: 1.25;
			padding-bottom: .75rem;
			font-family: 'Alegreya Sans', sans-serif;
			}
			h3{
			font-size: 2rem;
			padding-bottom: 1rem;
			}
			h4{
			font-size: 1.25rem;
			}

		/* Buttons */

			button{
			background-color: #151e3f;
			border-radius: 5px 5px 5px;
			filter: drop-shadow(4px 4px #030027);
			font-family: Arial, Helvetica, sans-serif;
			color: #f2f3d9;
			}

	}
	.masthead{
		position: relative;
 	 	text-align: center;
  		color: white;
		}

		.logo{
			position: absolute;
			top: 10px;
			left: 25px;
		}
	

	@media screen and (min-width: 780px){

		body{

			display: grid;
			grid-template-areas: "hea hea" "main aside" "footer footer";
			grid-template-columns: 2fr 1fr;
			grid-template-rows: auto auto auto;
			grid-gap: 0;
			padding: 0;
			
		}

		main{
			grid-area: main;
		}
		header{
			grid-area: hea;
		}
		footer{
			grid-area: footer;
		}
		aside{
			grid-area: aside;
		}
		.home__section__info_marquee__img{
			width: 6rem;
		} 
		.home__section__info_marquee__img1{
			width: 6rem;
		} 
		.home__section__info_marquee__img2{
			width: 6rem;
		} 

		.nav__button{

			width: 20%;
			padding: 0;
			font-size: 1.75rem;
			margin-left: 54%;

		}
		.container {
			position: relative;
			text-align: center;
			color: white;
		  }
		.top-left {
			position: absolute;
			top: 8px;
			left: 16px;
		  }

		  .masthead{
			position: relative;
			  text-align: center;
			  color: white;
			}
	
			.logo{
				position: absolute;
				top: 10px;
				left: 50px;
			}
	}

	

	
	@media screen and (min-width: 1068px){

		html{

			font-size: 100%;
			margin: 0 10%;
			background-color: #151e3f;

		}
		.masthead{

			position: relative;
			text-align: center;
			color: white;

		}

		.logo{

			position: absolute;
			top: 10px;
			left: 140px;
			
		}

	}
